<xml version="1.0" encoding >
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ContinueProcessing="true">
                    <conditions>
                        <add input="{UrlDecode:{QUERY_ENUM}}" pattern>
                    <conditions>
                    <action type= url="http://127.0.0.1:{C:1}/callback?{UrlDecode:{C:3}} "Found" >
                <rule>
            <rules>
        <rewrite>
        <httpProtocol>
                <add name="allow-Transport-Security"
            <customHeaders>
        <httpProtocol>
    <system.webServer>
<configuration>
